<div class="search">
    <nav class="navbar navbar-light bg-light">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="filterLibro" [(ngModel)]="filterLibro">
          <button class="btn btn-outline-success" (click)="onFilter()">Search</button>
        </form>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Año</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Numero de paginas</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libro of libros | filter:filterLibro; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{libro.titulo}}</td>
                        <td>{{libro.ano}}</td>
                        <td>{{libro.genero}}</td>
                        <td>{{libro.numero_paginas}}</td>
                        <td>{{libro.autor}}</td>
                        <td>{{libro.editorial}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="#" class="btn btn-primary">Agregar libro</a>
    </div>
</div>
